## **Sentiment Analysis of Tweets**

In [ ]:
# import libraries
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import csv
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
# Twitter credentials
consumerKey = "AcP8KYr7nSt11kovpQIRwgvns"
consumerSecret = "ns5mYbxhu9fy4HZtlo3nnG1kOakVgfzeZ9YZiQRplj7NDutIgi"
accessToken = "1335224178882965504-BC262WYWn2zPddCKR5MPo4zJPuSZ0T"
accessTokenSecret = "r2xVpbW8YLxQ1YagFFMbU9rOyRKy9X2e69edxx55LqHam"

In [ ]:
# authentication
authenticate = tweepy.OAuthHandler(consumerKey,consumerSecret)
authenticate.set_access_token(accessToken, accessTokenSecret)
api = tweepy.API(authenticate, wait_on_rate_limit = True)

In [ ]:
# extraxt tweets
name = input("Enter the user handle: ")
posts = api.user_timeline(screen_name= name, count = 100, lang ="en", tweet_mode="extended")
print("Recent tweets :\n")
j = 1
for i in posts[:5]:
  print(str(j) + ')' + i.full_text +'\n')
  j+=1

Enter the user handle: RahulGandhi
Recent tweets :

1)बनाना नहीं, सिर्फ़ बेचना जानता है।

#IndiaAgainstPrivatisation which hurts the public and benefits only a handful of cronies. https://t.co/YGTzrbZyrm

2)As warned earlier, #Covid19 continues to be a big threat.

Please keep the guards up- wear masks and follow all precautions. https://t.co/IBgA4N0Dx7

3)केंद्र सरकार की दोनों हाथों से दिनदहाड़े लूट-

1. गैस-डीज़ल-पेट्रोल पर ज़बरदस्त टैक्स वसूली।

2. मित्रों को PSU-PSB बेचकर जनता से हिस्सेदारी, रोज़गार व सुविधाएँ छीनना।

PM का एक ही क़ायदा,
देश फूँककर मित्रों का फ़ायदा।

4)आपकी संपत्ति 2020 में कितनी बढ़ी?
शून्य।

आप जीने के लिए संघर्ष कर रहे हैं जबकि उसने ₹12 लाख करोड़ कमाकर अपनी संपत्ति 50% बढ़ा ली।

आप मुझे बता सकते हैं ऐसा क्यों? https://t.co/21RSspLy15

5)How much did your wealth increase in 2020? Zero.

You struggle to survive while he makes ₹ 12 Lakh Cr and increases his wealth by 50%.

Can you tell me why? https://t.co/5sW65Kx7bi

In [ ]:
# File creation
with open("tweets.csv", 'w') as post:
  writer = csv.writer(post)
  writer.writerow(['sno.','id', 'tweet'])
  j=0
  for i in posts :
      j += 1
      writer.writerow([j, i.id, i.full_text] )

**Read file**

In [ ]:
# with open('tweets.csv','r') as p:
#   reader = csv.reader(p, delimiter =" ")
#   for row in reader:
#     print(row)

In [ ]:
#Dataframe created
df = pd.read_csv("tweets.csv")
df.head()

   sno.                   id                                              tweet
0     1  1370964948705218563  As the Quad works towards a free, open, secure...
1     2  1370935534198079492  28th March...this year’s third #MannKiBaat and...
2     3  1370686644081328132  Had a telephone conversation with President @G...
3     4  1370416535240548353  Our discussions today on vaccines, climate cha...
4     5  1370416533441187841  United in our fight against COVID-19, we launc...